{% extends 'base.html' %}
{% block content %}



<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>My Flask </title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="static/style.css">
    </head>
    <body>
        <center>
        <h1>This is my resume site</h1>

            <p>This is a paragrah,  {{ f_name }}</p>
            <br>
                <ol>
                    {% for topping in favPizza %}
                        <li> {{ topping }}</li>
                    {% endfor %}
                </ol>
                <!--{% if f_name == "Jerri Pa" %}
                {{ f_name }}!!
                {% else %}
                There !!
                {% endif %}-->
        </center>
    </body>

</html>
{% endblock %}